<html>
    <head>
        
    </head>
    <body>
        <div class="flex-container">
            <div>
                Beneficiary Name: 
                <span>{{ eventInfo.beneficiaryId }}</span>
            </div>
            <div>
                Council Name: 
                <span>{{ eventInfo.councilId }}</span>
            </div>
            <div>
                Event Name:
                <span>{{ eventInfo.name }}</span>
            </div>
            <div>
                Event Description:
                <span>
                    {{ eventInfo.desc }}
                </span>
            </div>
            <div>
                Project:
                <span>{{ eventInfo.projectId }}</span>
            </div>
            <div>
                Project Category:
                <span>{{ eventInfo.categoryId }}</span>
            </div>
            <div>
                Event Date:
                <span>{{ eventInfo.startTime }}</span>
            </div>
            <div>
                Total Volunteers:
                <span>4</span>
            </div>
            <div>
                POC ID:
                <span>{{ eventInfo.pocId }}</span>
            </div>
			<div>
                Transport Boarding Type:
                <span>{{ eventInfo.boardingTypeId }}</span>
            </div>
            <input type="button" name="showRegistration" value="Register Event" (click)="displayRegistrationForm()">
            <form [formGroup]="registerEventForm" (ngSubmit)="onSubmit()" [ngClass]="{ 'display': none && !showRegistrationForm }">
                <div>
                    Transport Boarding point:
                    <select name="boardingPoint" formControlName="boardingPoint">
                        <option *ngFor="let businessUnit of businessUnits" value="{{businessUnit.id}}">{{businessUnit.name}}</option>
                    </select>
                </div>
                <div>
                    Transport Drop point:
                    <select name="dropPoint" formControlName="dropPoint">
                        <option *ngFor="let businessUnit of businessUnits" value="{{businessUnit.id}}">{{businessUnit.name}}</option>
                    </select>
                </div>
                <div>
                    Associate Id:
                    <input type="text" name="associateId" formControlName="associateId" [ngClass]="{ 'is-invalid': submitted && f.associateId.errors }">
                    <div *ngIf="submitted && f.associateId.errors" class="invalid">
                        <div *ngIf="f.associateId.errors.required">Associate Id is required</div>
                    </div>
                </div>
                <div>
                    First Name:
                    <input type="text" name="firstName" formControlName="firstName" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
                    <div *ngIf="submitted && f.firstName.errors" class="invalid">
                        <div *ngIf="f.firstName.errors.required">First Name is required</div>
                    </div>
                </div>
                <div>
                    Last Name:
                    <input type="text" name="lastName" formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
                    <div *ngIf="submitted && f.lastName.errors" class="invalid">
                        <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                    </div>
                </div>
                <div>
                    Business Unit:
                    <select name="businessUnit" formControlName="businessUnit" [ngClass]="{ 'is-invalid': submitted && f.businessUnit.errors }">
                        <option *ngFor="let businessUnit of businessUnits" value="{{businessUnit.id}}">{{businessUnit.name}}</option>
                    </select>
                    <div *ngIf="submitted && f.businessUnit.errors" class="invalid">
                        <div *ngIf="f.businessUnit.errors.required">Business Unit is required</div>
                    </div>
                </div>
                <div>
                    <input type="button" name="back" value="Back to Events">
                    <button type="submit" class="btn btn-primary" name="registerEvent">Submit Registration</button>
                </div>
            </form>
        </div>
    </body>
</html>